body {
    background-color: whitesmoke;
    font-family: "Courier New";
    color: white;
}

p {
    font-size: 20px;
}


nav {
    background-attachment: fixed;
    background-color: #4873B6;
    padding: .5em;
    border-radius: 20px;
}

.right-main {
    display: flex;
    flex-direction: column;
    order: 2;
}

.text, .quote {

    max-width: 50%;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 0px;
    padding: 5em;
}

blockquote, h1 {
    font-size: 50px;
}

.text {
    background-color: #F09CC6;
    margin-bottom: 100px;
}

.quote { 
    background-color: #4873B6;
}

img {
    border-radius: 20px;  
    max-width: 300px;
}

.guide, .project {
    background-color: #4873B6;
    margin: 20px;
    border-radius: 20px;
}

.main-page {
    display: flex;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: 3em;
}



.project {
    max-width: 600px;
    height: 400px;
}

.guide {
    max-width: 300px;
}

.guide-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: wrap;
    background-color: #E1F0C4;
    width: 30%;
    order: 1;
    border-radius: 20px;
    
}

.project-list  {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: wrap;
    background-color: #E1F0C4;
}

ul {
    list-style-type: none;
    margin-block-start: 0px;
    padding: 0px;
    padding-inline-start: 0px;
}


.nav-button {
    display: inline;
}

.nav-button a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 1em;
}

a:hover {
    background-color: #F09CC6;
}

.yellow-box{
    align-self: center;
    background-color: #FFD000;
    width: 70px;
    height: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.blog-text {
    color: #F09CC6;
}