body {
    background-color: whitesmoke;
    font-family: "Courier New";
    color: white;
}



nav {
    background-attachment: fixed;
    background-color: #4873B6;
    padding: .5em;
    border-radius: 20px;
}

#text {
    background-color: #F09CC6;
    width: 50%;
    height: 200px;
    min-width: 100px;
    border-radius: 20px;
    margin-top: 100px;
    order: 2;
}

img {
    border-radius: 20px;  
    max-width: 300px;
}

.guide, .project {
    background-color: #4873B6;
    margin: 20px;
    border-radius: 20px;
}

.main-page {
    display: flex;
}



.project {
    max-width: 600px;
}

.guide {
    max-width: 300px;

}

.guide-list  {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: wrap;
    background-color: #E1F0C4;
    width: 30%;
    order: 1;
    
}



ul {
    list-style-type: none;
    margin-block-start: 0px;
    padding: 0px;
    padding-inline-start: 0px;
}


.nav-button {
    display: inline;
}

.nav-button a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 1em;
}

li a:hover {
    background-color: #FAE791;
}

.yellow-box{
    align-self: center;
    background-color: #FFD000;
    width: 70px;
    height: 20px;
}